body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

#header {
  height: 10vh;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  color: #fcf0f1;
  font-size: 60px;
  font-family: Helvetica;
}

#container {
  min-height: 90vh;
}

.row {
  display: flex;
  height: 80px;
  min-width: 432px;
  background-color: #bdc3c7;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.task {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid #7f8c8d;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}

.description {
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif
}

.criticality {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-left: 1px solid #7f8c8d;
  font-size: 20px;
  font-family: monospace;
}

#emergency-btn {
  display: block;
  margin: 3em auto;
  padding: 1em;
  background-color:white;
  border: red solid 1px;
  border-radius: 3px;
  color: red;
  font-weight: bold;
}

#emergency-btn:hover {
  background-color:red;
  border: white solid 1px;
  color: white;
  cursor: pointer;
}

/* COLORS */
.green {
  background-color: mediumspringgreen;
}
.yellow {
  background-color: gold;
}
.orange {
  background-color: darkorange;
}
.red {
  background-color: crimson;
}